/* ------------------  For All Devices  ------------------*/

header,
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  margin-top: 15px;
  margin-bottom: 50px;
}

h1 {
  /* Header */
  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 80px;
  /* Accent Grey */
  color: #90d1d3;
}

p {
  font-family: Lora;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;

  color: #000000;
}

a {
  color: inherit;
}

.button, form{
  padding: 30px 80px;
  font-family: "Oxygen", sans-serif;
  text-align: center;
}

/* ------------------  For Mobile (less than 768px)  ------------------*/
body {
  font-family: "Oxygen", sans-serif;
  width: 95%;
  margin: 10px auto;
}

.nav-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  list-style: none;
  margin-left: 20px;
}

#logo {
  max-height: 35px;
}

.hero {
  display: block;
  text-align: center;
  margin: 0 5%;
  margin-bottom: 30%;
}

.display-case {
  display: block;
}

/* Home Page */
.profile {
  max-width: 200px;
  border-radius: 100%;
  margin-bottom: 30px;
}

.case {
  background-color: rgb(238, 255, 250);
  margin: 30px auto;
  padding: 20% 30px;
  border-radius: 5px;
  cursor: pointer;
}

/* Painting Page*/
.painting {
  display: block;
  margin: 10px auto;
  width: 100%;
  border-radius: 3px;
  align-self: center;
}

/* Animation Page */
#animations,
video {
  display: block;
  padding-bottom: 30px;
  border-radius: 5px;
  width: 100%;
}

.footer,
h3 {
  font-weight: normal;
  font-family: Lora;
  font-size: 15px;
  margin: 100px auto;
  text-align: center;
}

.animation {
  width: 100%;
  height: 350px;

}

/* ------------------  For Desktop (more than 768px)  ------------------*/
@media only screen and (min-width: 800px) {
  body {
    margin: 80px auto;
    width: 50%;
    height: 100%;
  }

  .hero {
    display: block;
    max-width: 600px;
    margin: 5% auto;
    margin-bottom: 20%;
  }

  .case {
    background-color: #dffdfe;
    margin: 30px auto;
    padding: 10% 5%;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Painting Page*/
  .painting {
    display: inline-block;
    margin: 10px auto;
    max-width: 50%;
    border-radius: 3px;
    align-self: center;
  }

  .animation {
    width: 960px;
    height: 540px;
  
  }
}
