body {
  font-family: "Oxygen", sans-serif;
  margin: 60px 25%;
}

header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

nav {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

h1 {
  /* Header */
  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

  /* Accent Grey */
  color: #929292;
}

p {
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.02em;

  color: #000000;
}

a {
  color: inherit;
}

.container {
  display: grid;
  grid-template-columns: [first] 10px [second] 15% [third] auto [fourth] 30% [fifth] 10px;
  grid-template-rows: [one] 250px [two] 450px [three] auto;
}

/* PAGE HEADER */
.logo {
  cursor: pointer;
  width: 125px;
  order: 1;
}

.nav-item {
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  list-style: none;
  margin-right: 50px;
  /* identical to box height */

  color: #0d0d0d;
}

/* INTRODUCTION */
.introduction {
  grid-column-start: third;
  grid-column-end: fourth;
  grid-row-start: two;
}

.profile {
  margin-right: 30px;
  width: 100%;
  height: auto;
  float: left;
}

.introduction-text {
  max-width: 800px;
}

/* WORK SECTION */
.cards {
  grid-column-start: first;
  grid-column-end: fifth;
  grid-row-start: three;
}

.case {
  background-color: lavender;
  margin: 30px auto;
  padding: 100px 60px;
  border-radius: 5px;
  cursor: pointer;
}

#profile-about {
  max-width: 300px;

}

#profile-home {
  border-radius: 50%;
  max-width: 200px;

}